<div class="key">
    ZANZIBAR STATE TRADING CORPORATION (ZSTC)
</div>
<div class="dep">
    <a target="_blank" href="../assets/image/dep.png">
    <img  src="../assets/image/dep.png"  alt="Cinque Terre" width="1080" height="500">
    </a>

</div>


<div class="arc">
    <a target="_blank" href="../assets/image/cloves5.png">
    <img  src="../assets/image/cloves5.png" alt="Cinque Terre" width="900px">
    </a>

</div>

<div class="arc">
    <a target="_blank" href="../assets/image/cloves4.png">
    <img  src="../assets/image/cloves4.png" alt="Cinque Terre" width="500px" height="180px">
    </a>
</div>


<div class="arc">
    <a target="_blank" href="../assets/image/cloves6.png">
    <img  src="../assets/image/cloves6.png" alt="Cinque Terre" width="500px" height="180px">
    </a>
</div>

